.button-blue {
	background-color: #6F69AC;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	position: center;
	margin-left: 10px;
}

