.navbar{
position: fixed;
display: flex;
padding: 30px;
align-items: center;
background-color: whitesmoke;
width: 100%;
z-index: 1;
margin:0 -30px; 
border-top: solid white;
border-bottom: solid white;
}

.navbar img {
width: 60px;
height: 60px;
margin-left: 100px;
}

.navbar ul{
display: flex;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
flex-grow: 1;
gap: 50px;
justify-content: flex-end;
margin: 20px;
}




